Django==2.2.20
django-cors-headers==2.5.2
django-require==1.0.11
django-storages==1.7.1
django-timezone-field==3.0
djangorestframework==3.9.2
djangorestframework-jwt==1.11.0
docutils==0.14
mysqlclient==1.4.2.post1
numpy==1.22.0
numpydoc==0.8.0
pandas==1.1.0
