.DS_Store
*.py[cod]
__pycache__/
*.pyc
webiCovidPortal/*.pyc
webiCovidPortal/covidPortalApp/__pycache__/
webiCovidPortal/explorer/__pycache__/
webCovidPortal/conf.py
webCovidPortal/covidPortalApp/settings.py
covidPortalFrontEnd/dist/
covidPortalFrontEnd/environments/
covidPortalFrontEnd/node_modules/
letsencrypt/
