<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-right">
            <ul>
                <li>
                    <a href="https://www.imij.tech">
                        Home
                    </a>
                </li>
                <!-- <li>
                    <a href="https://www.imij.tech">
                        Company
                    </a>
                </li>
                <li>
                    <a href="https://www.imij.tech">
                        Portfolio
                    </a>
                </li> -->
                <li>
                    <a href="https://www.imij.tech">
                        Blog
                    </a>
                </li>

            </ul>
        </nav>
        <div class="copyright pull-right">
            <!-- &copy;
            <a href="https://www.imij.tech" target="_blank">Imij Tech</a>. -->
        </div>
    </div>
</footer>
