<div class="container">

		<div class="row" class="col-sm-12" *ngIf="datafile">

				<div class="form-group" >
					<p style='font-weight: bold; font-size: 18px;' *ngIf="datafile">Details for {{datafile.fileName}}</p>
				</div>

				<div class="form-group" >
					<div style="width:120px;height:60px;border:1px solid #000;text-align:center;font-size:18px;" [style.background-color]="statusColor">{{datafile.status}}</div>
				</div>

				<ngb-tabset type="pills" [activeId]="activeTabTitle">
				  <ngb-tab title="Metadata" id="Metadata" name="Metadata">
				    <ng-template ngbTabContent>
							<div style="border: 2px dashed;">
								<div class="form-group">
										<label class="col-form-label;">File Name:</label>
										<input type="text" class="col-sm-5 form-control form-control-sm" [(ngModel)]="datafile.fileName" [ngModelOptions]="{standalone: true}" disabled>
								</div>
								<div class="form-group">
										<label class="col-form-label;">Chksum:</label>
										<input type="text" class="col-sm-5 form-control form-control-sm" [(ngModel)]="datafile.chksum" [ngModelOptions]="{standalone: true}" disabled>
								</div>
								<div class="form-group">
										<label class="col-form-label;">Uploaded On:</label>
										<input type="date" class="col-sm-5 form-control form-control-sm" [(ngModel)]="datafile.uploadedDate" [ngModelOptions]="{standalone: true}" disabled>
								</div>
							</div>
						</ng-template>
				  </ngb-tab>
				  <ngb-tab title="Analysis_Submit" id="Analysis_Submit" name="Analysis_Submit">
				    <!-- <ng-template ngbTabTitle>Analysis Submit</ng-template> -->
				    <ng-template ngbTabContent>
							<div style="border: 2px dashed;">

								<button  id="button_0" (click)="submitAnalysis($event);" class = "btn btn-primary" >Submit</button>&nbsp;
								<br/><br/>
								<div class="alert alert-success" role="alert" *ngIf="message">
								  {{message}}
								</div>
							</div>
				    </ng-template>
				  </ngb-tab>
					<ngb-tab  title="Analysis_Logs" id="Analysis_Logs" name="Analysis_Logs">
				    <ng-template ngbTabContent>
							<div style="border: 2px dashed;">
								<div class="form-group">
										<label class="col-form-label;">Protocol:&nbsp;</label>
										<div class="form-group">
												<label class="col-form-label;">Protocol:</label>
												<input type="text" class="col-sm-5 form-control form-control-sm" [(ngModel)]="datafile.analysisProtocol" [ngModelOptions]="{standalone: true}" disabled>
										</div>
										<div class="form-group">
											<label class="col-form-label;">Analysis Submitted On:&nbsp;</label>
												<input type="text" class="col-sm-5 form-control form-control-sm" [(ngModel)]="datafile.analysisSubmittedDate" [ngModelOptions]="{standalone: true}" disabled>
										</div>
										<div class="form-group">
											  <label class="col-form-label;">Analysis Completed On:&nbsp;</label>
												<input type="text" class="col-sm-5 form-control form-control-sm" [(ngModel)]="datafile.analysisCompletedDate" [ngModelOptions]="{standalone: true}" disabled>
										</div>
								</div>

								<div id="accordion">

									<div class="card" *ngFor="let logObj of datafile.logs">
										<div class="card-header">
											<a href="#collapseOne" class="card-link" data-toggle="collapse"  target="_self">
												{{logObj.processName}}
											</a>
										</div>
										<div id="collapseOne" class="collapse show" data-parent="#accordion">
											<div class="card-body">
												{{logObj.logValue}}
												<!-- <input type="text" class="col-sm-5 form-control form-control-sm" [(ngModel)]="logs.antsCorticalThickness" [ngModelOptions]="{standalone: true}" disabled> -->
											</div>
										</div>
									</div>

								</div>
							</div>
				    </ng-template>
				  </ngb-tab>

				</ngb-tabset>

		</div>
</div>
