				<div class="container">
        <br/>
        <br/>
        <br/>
				<div  *ngIf="!sequenceResultObj" style="max-width: 250px;float:left;font-size:24px;font-weight:bold;">
					Loading ..
				</div>
						<div *ngIf="sequenceResultObj" class="row" style="float:clear;">

								<div class="col-sm-12">
										<!-- <div>
											Search:&nbsp;
											<input [(ngModel)]="searchDataFilesString" id="searchDataFilesString" [ngModelOptions]="{standalone: true}">
											&nbsp;
											Filter Records:&nbsp;
											<select
												class="form-control-sm"
												name="mode"
												[(ngModel)]="filterFilesOption" (change) = "filterDataFiles();">
												<option value=""></option>
												<option value="{{filterOption.name}}" *ngFor="let filterOption of filterOptions" >{{filterOption.name}}</option>
											</select>
										</div>
										<br/>

										<div class="form-group" >
											<div style="width:120px;height:60px;border:1px solid #000;background-color:#EDF59A;text-align:center;font-size:18px;float:left;">Uploaded</div>
											<div style="width:10px;height:60px;border:0px;float:left;"></div>
											<div style="width:120px;height:60px;border:1px solid #000;background-color:#CBF022;text-align:center;font-size:18px;float:left;">Analysis Submitted</div>
											<div style="width:10px;height:60px;border:0px;float:left;"></div>
											<div style="width:120px;height:60px;border:1px solid #000;background-color:#32FFC8;text-align:center;font-size:18px;float:left;">Score Calculated</div>
											<div style="width:10px;height:60px;border:0px;float:left;"></div>
											<div style="width:120px;height:60px;border:1px solid #000;background-color:#36CBEC;text-align:center;font-size:18px;float:left;">Analysis Completed</div>
										</div>&nbsp;&nbsp; -->
<!--
										<br/>
										<br/> -->

										<div *ngIf="sequenceResultObj.sequenceObjList?.length > 0">

											<div >
												<button   id="button_0" style = "background-color:#90EE7F;" (click)="submitSequences();"  >Submit&nbsp;</button>
											</div>&nbsp;
											<div style="display: inline-block;float:left;" *ngFor="let selectedAccession of selectedAccessions">
			    							{{selectedAccession}}
			    						</div>

											<br/>



											<ngx-datatable class="material" [rows]="sequenceResultObj.sequenceObjList" [columns] = "sequenceResultObj.sequenceTablecolumns" [columnMode]="force" [headerHeight]="50" [footerHeight]="50"
											  [rowHeight]="50" [scrollbarV]="true" [limit]="10">

												<!-- [columns]="[{ name: 'Name' }, { name: 'Gender' }, { name: 'Company' }]" -->
												<!-- [sorts]="[{prop: 'name', dir: 'desc'}]"> -->

												<ngx-datatable-column name="Select">
													<ng-template let-row="row" ngx-datatable-cell-template>
														<input type="checkbox" [checked] = "row.isSelected" [(ngModel)]="row.isSelected" [ngModelOptions]="{standalone: true}" >
													</ng-template>
												</ngx-datatable-column>

											  <ngx-datatable-column name="Accession">
											    <ng-template let-row="row" ngx-datatable-cell-template>
											      {{row.accession}}
											    </ng-template>
											  </ngx-datatable-column>

											  <ngx-datatable-column name="Organism">
											    <ng-template let-row="row" ngx-datatable-cell-template>
											      {{row.organism}}
											    </ng-template>
											  </ngx-datatable-column>

											  <ngx-datatable-column name="Collection Date">
											    <ng-template let-row="row" ngx-datatable-cell-template>
											      {{row.collection_date}}
											    </ng-template>
											  </ngx-datatable-column>

											  <ngx-datatable-column name="Country">
											  </ngx-datatable-column>

												<ngx-datatable-column name="host">
													<ng-template let-row="row" ngx-datatable-cell-template>
											      {{row.collection_date}}
											    </ng-template>
											  </ngx-datatable-column>
												<ngx-datatable-column name="isolation_source">
													<ng-template let-row="row" ngx-datatable-cell-template>
											      {{row.isolation_source}}
											    </ng-template>
												</ngx-datatable-column>
												<ngx-datatable-column name="coded_by">
													<ng-template let-row="row" ngx-datatable-cell-template>
											      {{row.coded_by}}
											    </ng-template>
												</ngx-datatable-column>
												<ngx-datatable-column name="protein_id">
													<ng-template let-row="row" ngx-datatable-cell-template>
											      {{row.protein_id}}
											    </ng-template>
												</ngx-datatable-column>
												<ngx-datatable-column name="taxon_id">
													<ng-template let-row="row" ngx-datatable-cell-template>
											      {{row.taxon_id}}
											    </ng-template>
												</ngx-datatable-column>
												<ngx-datatable-column name="isolate">
											  </ngx-datatable-column>



												<ngx-datatable-footer>
												  <ng-template
												    ngx-datatable-footer-template
												    let-rowCount="rowCount"
												    let-pageSize="pageSize"
												    let-selectedCount="selectedCount"
												    let-curPage="curPage"
												    let-offset="offset"
												    let-isVisible="isVisible">
												      <div class="page-count">
												        <span *ngIf="selectedMessage">
												          {{selectedCount.toLocaleString()}} {{selectedMessage}} /
												        </span>
												        {{rowCount.toLocaleString()}} {{totalMessage}}
												      </div>
												      <datatable-pager
												          [pagerLeftArrowIcon]="'datatable-icon-left'"
												          [pagerRightArrowIcon]="'datatable-icon-right'"
												          [pagerPreviousIcon]="'datatable-icon-prev'"
												          [pagerNextIcon]="'datatable-icon-skip'"
												          [page]="curPage"
												          [size]="pageSize"
												          [count]="rowCount"
												          [hidden]="!((rowCount / pageSize) > 1)"
												          (change)="table.onFooterPage($event)">
												      </datatable-pager>
												  </ng-template>
												</ngx-datatable-footer>

											</ngx-datatable>

											<div class="alert alert-success" role="alert" *ngIf="message">
					              {{message}}
					            </div>
										</div>
										<div *ngIf="sequenceResultObj.sequenceObjList?.length == 0">
											<b>No data to display.</b>
										</div>


						</div>
					</div>

				</div>
			<!-- </div> -->
