<router-outlet></router-outlet>

<div class="container">
  <br/>
	<br/>
	<br/>
	<div  *ngIf="!alignmentObjList" style="max-width: 250px;float:left;font-size:24px;font-weight:bold;">
		Loading ..
	</div>
	<div *ngIf="alignmentObjList" class="row" style="float:clear;">
    <table width="2000">
      <tr style="text-align:center;">
        <td>
          <!-- <div style="background-color:blue;inline-block;height:100px;width:15px;">&nbsp;
          </div>
        </td>
        <td width="90%"> -->
          <div *ngIf="alignmentObjList?.length > 0" style="position:absolute;">
    			    <div style="inline-block;" id="{{displayAlignmentObj.label}}" >
    						<!-- <div style="inline-block;;float:left; border: 1px solid red; margin-right: 5px;"> -->
    							<div style="inline-block;;float:left; margin-right: 5px;width:50px;text-align:left;">
    						</div>
    						<div style="width:15px;display: inline-block;float:left;font-weight:bold;" *ngFor="let nomenclaturePositionMajor0 of displayNomenclaturePositionObj.nomenclaturePositionMajor0s">
    							{{displayNomenclaturePositionObj.nomenclaturePositionMajor0}}
    						</div>
    					</div>
    			</div>
    			<div *ngIf="alignmentObjList?.length == 0">
    				<b>No data to display.</b>
    			</div>
        </td>
      </tr>
      <tr style="text-align:center;">
        <td>
          <!-- <div style="background-color:blue;inline-block;height:100px;width:15px;">&nbsp;
          </div>
        </td>
        <td width="90%"> -->
          <div *ngIf="alignmentObjList?.length > 0" style="position:absolute;">
    			    <div style="inline-block;" *ngFor="let displayAlignmentObj of alignmentObjList" id="{{displayAlignmentObj.label}}" >
    						<!-- <div style="inline-block;;float:left; border: 1px solid red; margin-right: 5px;"> -->
    							<div style="inline-block;;float:left; margin-right: 5px;width:50px;text-align:left;">
    							{{displayAlignmentObj.label}}
    						</div>
    						<div style="width:15px;display: inline-block;float:left;font-weight:bold;" *ngFor="let residueObj of displayAlignmentObj.displayResidueObjList" [style.background-color] = "residueObj.residueColor"
                (click)="handleResidueClick(residueObj.residueLabel, residueObj.position);">
    							{{residueObj.residueValue}}
    						</div>
    					</div>
    			</div>
    			<div *ngIf="alignmentObjList?.length == 0">
    				<b>No data to display.</b>
    			</div>
        </td>
      </tr>
    </table>
  </div>
  <div style="float:clear;">
    <br/>
    <br/>
    <br/>
    <br/>

    <div style=" max-width: 2000px;" *ngIf="alignmentObjList">
        Begin position:&nbsp;
        <!-- <i *ngIf="originalScanEnabled" class="fa fa-question-circle" aria-hidden="true" (click)="openModal('helpRoiOverlaySlider')"></i> -->
        <div class="slidecontainer" style="float:left;">
          <input type="range" min="0" [max]="maxSliderValue" value="{{positionSliderValue}}" class="slider" id="positionSlider" (input)="setSliderValue();">
          <div>Slider Value: {{positionSliderValue}}</div>
        </div>&nbsp;
        <br/>
        <br/>

            <div class="row" style="float:clear;">
              <br/>
              <ng5-slider [(value)]="rowNum" [options]="rangeSliderOptions" (valueChange)="sliderValueChange($event)"> </ng5-slider>
              <br/>
            </div>
    </div>

<!--
    </div> -->


	</div>
</div>
