				<div class="container">
        <br/>
        <br/>
        <br/>
				<div  *ngIf="!sequenceObjList" style="max-width: 250px;float:left;font-size:24px;font-weight:bold;">
					Loading ..
				</div>
						<div *ngIf="sequenceObjList" class="row" style="float:clear;">

								<div class="col-sm-12">
										<!-- <div>
											Search:&nbsp;
											<input [(ngModel)]="searchDataFilesString" id="searchDataFilesString" [ngModelOptions]="{standalone: true}">
											&nbsp;
											Filter Records:&nbsp;
											<select
												class="form-control-sm"
												name="mode"
												[(ngModel)]="filterFilesOption" (change) = "filterDataFiles();">
												<option value=""></option>
												<option value="{{filterOption.name}}" *ngFor="let filterOption of filterOptions" >{{filterOption.name}}</option>
											</select>
										</div>
										<br/>

										<div class="form-group" >
											<div style="width:120px;height:60px;border:1px solid #000;background-color:#EDF59A;text-align:center;font-size:18px;float:left;">Uploaded</div>
											<div style="width:10px;height:60px;border:0px;float:left;"></div>
											<div style="width:120px;height:60px;border:1px solid #000;background-color:#CBF022;text-align:center;font-size:18px;float:left;">Analysis Submitted</div>
											<div style="width:10px;height:60px;border:0px;float:left;"></div>
											<div style="width:120px;height:60px;border:1px solid #000;background-color:#32FFC8;text-align:center;font-size:18px;float:left;">Score Calculated</div>
											<div style="width:10px;height:60px;border:0px;float:left;"></div>
											<div style="width:120px;height:60px;border:1px solid #000;background-color:#36CBEC;text-align:center;font-size:18px;float:left;">Analysis Completed</div>
										</div>&nbsp;&nbsp; -->
<!--
										<br/>
										<br/> -->

										<div *ngIf="sequenceObjList?.length > 0">

											<div >
												<button   id="button_0" style = "background-color:#90EE7F;" (click)="submitSequences();"  >Submit&nbsp;</button>
											</div>&nbsp;
											<div style="display: inline-block;float:left;" *ngFor="let selectedAccession of selectedAccessions">
			    							{{selectedAccession}}
			    						</div>

											<br/>
											<table class="table table-bordered table-striped table-sm">
										    <tr>
													<th>Select</th>
										      <th>Accession</th>
										      <th>Sequence</th>
												</tr>
										    <tr *ngFor="let sequenceObj of sequenceObjList"  id="{{sequenceObj.accession}}">

						              <td>
														<input type="checkbox" [checked] = "sequenceObj.isSelected" [(ngModel)]="sequenceObj.isSelected" [ngModelOptions]="{standalone: true}">
													</td>

										      <td>{{ sequenceObj.accession}}</td>
										      <td>
														{{ sequenceObj.sequence }}
													</td>
										    </tr>
										  </table>
											<div class="alert alert-success" role="alert" *ngIf="message">
					              {{message}}
					            </div>
										</div>
										<div *ngIf="sequenceObjList?.length == 0">
											<b>No data to display.</b>
										</div>


						</div>
					</div>

				</div>
			<!-- </div> -->
