<router-outlet></router-outlet>
<div class="container" *ngIf="!displayAlignmentObjList">
  <b>Loading ...</b>
</div>

<div class="container" *ngIf="displayAlignmentObjList">
  <table border=0 class="table paneltable" id="paneltable">
     <thead>
         <th></th>
         <th class="label-header">Accession</th>
         <!-- position nomenclature -->
         <th *ngFor="let nomenclaturePositionString of displayNomenclaturePositionStrings">
           <div class="nomen-outer residue-width"><div class="nomen-inner">{{nomenclaturePositionString}}</div></div>
         </th>
         <!-- end position nomenclature -->
         <th class="sort-header">
                   <!-- <select [(ngModel)]="sortSequenceTableColumn">
             <option *ngFor="let sequenceTableColumnObj of sequenceTableColumnObjs"
               #sortColumnSelect
               [value]="sequenceTableColumnObj.columnName"
               [selected]="sequenceTableColumnObj.isSelected"
               (change)='sortSequenceTable()'
               >
             {{sequenceTableColumn}}
           </option>
         </select> -->
         <div class="row">
           <div class="col">
             <div ngbDropdown class="d-inline-block">
               <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{this.sequenceSortColumn}}</button>
               <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                 <button ngbDropdownItem *ngFor="let sequenceTableColumnObj of sequenceTableColumnObjs" (click) = "sortSequenceTable(sequenceTableColumnObj.columnName)" [value]="sequenceTableColumnObj.columnName" [style.background-color] = "sequenceTableColumnObj.rowColor" >{{ sequenceTableColumnObj.columnName }}</button>
               </div>
             </div>
           </div>
         </div>
<!--
         <select
             [ngModelOptions]="{standalone: true}"
             [(ngModel)]="sortSequenceTableColumn">
             <option *ngFor="let sequenceTableColumnObj of sequenceTableColumnObjs" [value]="sequenceTableColumnObj.columnName" [selected]="sequenceTableColumnObj.isSelected">{{ sequenceTableColumnObj.columnName }}</option>
         </select> -->

             <!-- <select>
                 <option selected>Label</option>
                 <option>Host</option>
                 <option>Country</option>
                 <option>Accession</option>
             </select> -->
         </th>
         <th></th>
     </thead>
     <!-- SEQUENCES ------------------------------------------------------------>
     <tbody>
     <!-- SEQUENCE 1 --->
     <tr *ngFor="let displayAlignmentObj of displayAlignmentObjList; let idx = index">
         <td rowspan=3 *ngIf="idx == 0"><div class="paneltab-outer"><div class="paneltab-inner">Protein</div></div></td>
         <!-- sequence label -->
         <td><div class="residue-height label">{{displayAlignmentObj.label}}</div></td>
         <!-- residues -->
         <td *ngFor="let residueObj of displayAlignmentObj.displayResidueObjList"><div class="residue-width residue-height residue" [style.background-color] = "residueObj.residueColor">{{residueObj.residueValue}}</div></td>
         <!-- sort value -->
         <td><div class="residue-height label">{{displayAlignmentObj.sortColumnValue}}</div></td>
         <td rowspan=3 *ngIf="idx == 0">
           <input type="range" min="0" [max]="maxVerticalSliderValue" value="{{verticalSliderValue}}" class="verticalslider" id="verticalSlider" (input)="setVerticalSliderValue($event);">
         </td>
     </tr>
     </tbody>
     <!-- END SEQUENCES -------------------------------------------------------->
     <!-- BEGIN EPITOPES ------------------------------------------------------->
     <tbody id="epitopepanel">
     <tr>
         <th></th>
         <th class="label-header">

           <div class="row">
             <div class="col">
               <div ngbDropdown class="d-inline-block">
                 <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{this.epitopeSortColumn}}</button>
                 <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                   <button ngbDropdownItem *ngFor="let epitopeExperimentTableColumnObj of epitopeExperimentTableColumnObjs" (click) = "sortEpitopeTable ( epitopeExperimentTableColumnObj.columnName )" [value]="epitopeExperimentTableColumnObj.columnName" [style.background-color] = "epitopeExperimentTableColumnObj.rowColor" >{{ epitopeExperimentTableColumnObj.columnName }}</button>
                 </div>
               </div>
             </div>
           </div>

         </th>
         <!-- position nomenclature -->
         <th colspan="16">
             <button onclick="moveup('epitopepanel')">Up</button>
             <button onclick="movedown('epitopepanel')">Dn</button>
         </th>

         <th class="sort-header">

           <div class="row">
             <div class="col">
               <div ngbDropdown class="d-inline-block">
                 <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{this.epitopeSortColumn}}</button>
                 <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                   <button ngbDropdownItem *ngFor="let epitopeExperimentTableColumnObj of epitopeExperimentTableColumnObjs" (click) = "sortEpitopeTable ( epitopeExperimentTableColumnObj.columnName )" [value]="epitopeExperimentTableColumnObj.columnName" [style.background-color] = "epitopeExperimentTableColumnObj.rowColor" >{{ epitopeExperimentTableColumnObj.columnName }}</button>
                 </div>
               </div>
             </div>
           </div>

         </th>
         <th></th>
     </tr>
     <!-- EPITOPE 1 --->
     <tr *ngFor="let displayEpitopeObj of displayEpitopeObjList; let idx = index">
         <td rowspan=3 *ngIf="idx == 0"><div class="paneltab-outer"><div class="paneltab-inner">Epitope</div></div></td>
         <!-- sequence label -->
         <td><div class="residue-height label">{{displayEpitopeObj.iedb_id}}</div></td>
         <!-- residues -->
         <td *ngFor="let residueObj of displayEpitopeObj.displayResidueObjList"><div class="residue-width residue-height residue" [style.background-color] = "residueObj.residueColor">{{residueObj.residueValue}}</div></td>
         <!-- sort value -->
         <td><div class="residue-height label">{{displayEpitopeObj.sortColumnValue}}</div></td>
         <td rowspan=3 *ngIf="idx == 0">
           <input type="range" min="0" [max]="maxVerticalSliderValue" value="{{epitopeVerticalSliderValue}}" class="verticalslider" id="epitopeVerticalSlider" (input)="setEpitopeVerticalSliderValue($event);">
         </td>
     </tr>

     </tbody>
     <!-- END EPITOPES --------------------------------------------------------->
     <!-- BEGIN STRUCTURE ------------------------------------------------------>
     <tbody id="structurepanel">
     <tr>
         <th></th>
         <th class="label-header">PDB ID</th>
         <!-- position nomenclature -->
         <th colspan=16>
             <button onclick="moveup('structurepanel')">Up</button>
             <button onclick="movedown('structurepanel')">Dn</button>
         </th>
         <th class="sort-header">

           <div class="row">
             <div class="col">
               <div ngbDropdown class="d-inline-block">
                 <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{this.structureSortColumn}}</button>
                 <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                   <button ngbDropdownItem *ngFor="let structureChainTableColumnObj of structureChainTableColumnObjs" (click) = "sortStructureTable ( structureChainTableColumnObj.columnName )" [value]="structureChainTableColumnObj.columnName" [style.background-color] = "structureChainTableColumnObj.rowColor" >{{ structureChainTableColumnObj.columnName }}</button>
                 </div>
               </div>
             </div>
           </div>

         </th>
         <th></th>
     </tr>
     <!-- STRUCTURE 1 --->
     <tr *ngFor="let displayStructureObj of displayStructureObjList; let idx = index">
         <td rowspan=3 *ngIf="idx == 0"><div class="paneltab-outer"><div class="paneltab-inner">Structure</div></div></td>
         <!-- sequence label -->
         <td><div class="residue-height label">{{displayStructureObj.pdbchain}}</div></td>
         <!-- residues -->
         <td *ngFor="let residueObj of displayStructureObj.displayResidueObjList"><div class="residue-width residue-height residue" [style.background-color] = "residueObj.residueColor">{{residueObj.residueValue}}</div></td>
         <!-- sort value -->
         <td><div class="residue-height label">{{displayStructureObj.sortColumnValue}}</div></td>
         <td rowspan=3 *ngIf="idx == 0">
           <input type="range" min="0" [max]="maxVerticalSliderValue" value="{{structureVerticalSliderValue}}" class="verticalslider" id="structureVerticalSlider" (input)="setStructureVerticalSliderValue($event);">
         </td>
     </tr>
     </tbody>
     <!-- END STRUCTURE -------------------------------------------------------->
     <!-- BEGIN SCROLLBAR ------------------------------------------------------>
     <tfoot>
         <td></td>
         <td></td>
         <td colspan=16>
           <div *ngIf="displayAlignmentObjList">
               Begin position:&nbsp;
               <!-- <i *ngIf="originalScanEnabled" class="fa fa-question-circle" aria-hidden="true" (click)="openModal('helpRoiOverlaySlider')"></i> -->
               <div class="slidecontainer" style="float:left;">
                 <input type="range" min="0" [max]="maxSliderValue" value="{{positionSliderValue}}" class="slider" id="positionSlider" (input)="setSliderValue();">
                 <div>Slider Value: {{positionSliderValue}}</div>
               </div>&nbsp;
                   <!-- <div class="row" style="float:clear;">
                     <br/>
                     <ng5-slider [(value)]="rowNum" [options]="rangeSliderOptions" (valueChange)="sliderValueChange($event)"> </ng5-slider>
                     <br/>
                   </div> -->
           </div>

              <!-- <ng5-slider [(value)]="rowNum" [options]="rangeSliderOptions" (valueChange)="sliderValueChange($event)"> </ng5-slider> -->

         </td>
         <td></td>
         <td></td>
     </tfoot>
     <!-- END SCROLLBAR -------------------------------------------------------->
  </table>
  <!----------------------------------------------------------------------------->
  <!----------------------------------------------------------------------------->
  <!----------------------------------------------------------------------------->
  <!----------------------------------------------------------------------------->
  <!----------------------------------------------------------------------------->
  <!----------------------------------------------------------------------------->
  <div class="btn-grp">
    <button onclick="javascript:document.getElementById('epitopepanel').style.display='table-row-group'">Show Epitope</button>
    <button onclick="javascript:document.getElementById('epitopepanel').style.display='none'">Hide Epitope</button>
    <br>
    <button onclick="javascript:document.getElementById('structurepanel').style.display='table-row-group'">Show Structure</button>
    <button onclick="javascript:document.getElementById('structurepanel').style.display='none'">Hide Structure</button>
  </div>

  <div *ngIf="displayAlignmentObjList" class="row" style="float:clear;">

		<div  class="btn-group" style="margin-left:10px;">
			<button  id="button_0" style = "background-color:#834793;" (click)="showHideFilters();" *ngIf="showFiltersFlag">Hide Filters&nbsp;<i class="fa fa-angle-double-up" aria-hidden="true"></i>
				</button>&nbsp;
			<button  id="button_0" style = "background-color:#834793;" (click)="showHideFilters();" *ngIf="!showFiltersFlag">Show Filters&nbsp;<i class="fa fa-angle-double-down" aria-hidden="true"></i>
			</button>&nbsp;
		</div>
		<div id="spacerDiv" *ngIf="showFiltersFlag" class= "row" style="float:clear;">

    	<br/>
		</div>
  </div>
		<div id="paramsDiv" *ngIf="showFiltersFlag" style="border: 2px dashed;padding:20px;">
      Filters
      <ngb-tabset type="pills" [activeId]="activeTabTitle">

      <ngb-tab title="Sequences" id="sequencesId" name="sequencesDiv">

        <ng-template ngbTabContent>
          <ng-container *ngTemplateOutlet="sequencesTabset"></ng-container>
        </ng-template>

      </ngb-tab>

      <ngb-tab title="Epitopes" id="epitopesId" name="epitopesDiv">

        <ng-template ngbTabContent>
          <ng-container *ngTemplateOutlet="epitopesTabset"></ng-container>
        </ng-template>

      </ngb-tab>

      <ngb-tab title="Structures" id="structuresId" name="structuresDiv">

        <ng-template ngbTabContent>
          <ng-container *ngTemplateOutlet="structuresTabset"></ng-container>
        </ng-template>

      </ngb-tab>

    </ngb-tabset>

    <!-- sequences tabset -->
    <ng-template #sequencesTabset>

      <div class="row" style="float:right;">
        Sort:&nbsp;            <select [(ngModel)]="sortSequenceTableColumn">
          <option *ngFor="let sequenceTableColumn of sequenceTableColumns"
            #sortColumnSelect
            [value]="sequenceTableColumn"
            (change)='sortSequenceTable()'
            >
          {{sequenceTableColumn}}
        </option>
      </select>
        Search:&nbsp;<input type="text" [(ngModel)]="searchString" [ngModelOptions]="{standalone: true}" (keyup) = "filterDatatable()">
      </div>
      <div class="row" style="float:clear;">
        <br/>&nbsp;
      </div>
        <div class="row" style="float:clear;overflow: scroll;height:400px;">

            <div *ngIf="displaySequenceObjList?.length > 0">


                <table class="table table-bordered table-striped">

                  <thead>
                    <tr>

                      <td>
                          Select
                      </td>

                      <td>
                        <a href="#">
                          Accession
                          <!-- <div class="arrow-up"></div>
                          <div class="arrow-down"></div> -->
                        </a>
                      </td>

                      <td>
                        <a href="#">
                          Organism
                          <!-- <div class="arrow-up"></div>
                          <div class="arrow-down"></div> -->
                        </a>
                      </td>

                      <td>
                        <a href="#">
                          Collection Date
                          <!-- <div class="arrow-up"></div>
                          <div class="arrow-down"></div> -->
                        </a>
                      </td>
                      <td>
                        <a href="#">
                          Isolation Source
                          <!-- <div class="arrow-up"></div>
                          <div class="arrow-down"></div> -->
                        </a>
                      </td>
                      <td>
                        <a href="#">
                          Coded By
                          <!-- <div class="arrow-up"></div>
                          <div class="arrow-down"></div> -->
                        </a>
                      </td>
                      <td>
                        <a href="#">
                          Protein
                          <!-- <div class="arrow-up"></div>
                          <div class="arrow-down"></div> -->
                        </a>
                      </td>
                      <td>
                        <a href="#">
                          Taxon
                          <!-- <div class="arrow-up"></div>
                          <div class="arrow-down"></div> -->
                        </a>
                      </td>
                    </tr>
                  </thead>

                  <tbody>
                    <tr *ngFor ="let row of displaySequenceObjList" style="line-height: 50px; height: 50px;">
                      <td>
                        <input type="checkbox" [checked] = "row.isSelected" [(ngModel)]="row.isSelected" [ngModelOptions]="{standalone: true}" value="{{row.accession}}" (change)="reloadAlignment($event)">
                      </td>
                      <td>
                          {{row.accession}}
                      </td>

                      <td>
                        {{row.organism}}
                      </td>

                      <td>
                        {{row.collection_date}}
                      </td>

                      <td>
                        {{row.isolate}}
                      </td>

                      <td>
                        {{row.coded_by}}
                      </td>
                      <td>
                        {{row.protein}}
                      </td>
                      <td>
                        {{row.taxon}}
                      </td>
                    </tr>
                  </tbody>

                </table>

                <div class="btn-group" *ngIf="displaySequenceObjList?.length > 0" >

                  <button  id="button_prev" style = "background-color:#834793;" (click)="showPrev();" [disabled]="hidePrevButton">Prev&nbsp;
            			</button>&nbsp;

                  <button  id="button_next" style = "background-color:#834793;" (click)="showNext();" [disabled]="hideNextButton">Next&nbsp;
              		</button>

                </div>

            </div>

          </div>

    </ng-template>

    <!-- epitopes tabset -->
    <ng-template #epitopesTabset>

        <div class="row" style="float:right;">
          Sort:&nbsp;            <select [(ngModel)]="sortEpitopeExperimentTableColumn">
            <option *ngFor="let epitopeExperimentTableColumn of epitopeExperimentTableColumns"
              #sortEpitopeColumnSelect
              [value]="epitopeExperimentTableColumn"
              (change)='sortEpitopeExperiment()'
              >
            {{epitopeExperimentTableColumn}}
          </option>
        </select>
          Search:&nbsp;<input type="text" [(ngModel)]="searchEpitopeString" [ngModelOptions]="{standalone: true}" (keyup) = "filterEpitopeTable()">
        </div>
        <div class="row" style="float:clear;">
          <br/>&nbsp;
        </div>
          <div class="row" style="float:clear;overflow: scroll;height:400px;">

              <div *ngIf="displayEpitopeExperimentObjList?.length > 0">

                  <table class="table table-bordered table-striped">

                    <thead>
                      <tr>

                        <th>
                            Select
                        </th>

                        <th>
                          <a href="#">
                            Host
                          </a>
                        </th>

                        <th>
                          <a href="#">
                            Assay Type
                          </a>
                        </th>

                        <th>
                          <a href="#">
                            Assay Result
                          </a>
                        </th>

                        <th>
                          <a href="#">
                            MHC Allele
                          </a>
                        </th>

                        <th>
                          <a href="#">
                            MHC Class
                          </a>
                        </th>

                        <th>
                          <a href="#">
                            Exp Method
                          </a>
                        </th>

                        <th>
                          <a href="#">
                            Measurement Type
                          </a>
                        </th>

                        <th>
                          <a href="#">
                            IEDB ID
                          </a>
                        </th>

                      </tr>
                    </thead>

                    <tbody>
                      <tr *ngFor ="let row of displayEpitopeExperimentObjList" style="line-height: 50px; height: 50px;">

                        <td>
                          <input type="checkbox" [checked] = "row.isSelected" [(ngModel)]="row.isSelected" [ngModelOptions]="{standalone: true}" value="{{row.iedb_id}}" (change)="reloadEpitopes($event)">
                        </td>

                        <td>
                          {{row.host}}
                        </td>

                        <td>
                          {{row.assay_type}}
                        </td>

                        <td>
                          {{row.assay_result}}
                        </td>

                        <td>
                          {{row.mhc_allele}}
                        </td>

                        <td>
                          {{row.mhc_class}}
                        </td>
                        <td>
                          {{row.exp_method}}
                        </td>
                        <td>
                          {{row.measurement_type}}
                        </td>
                        <td>
                          {{row.iedb_id}}
                        </td>

                      </tr>
                    </tbody>

                  </table>

                  <div class="btn-group" *ngIf="displayEpitopeExperimentObjList?.length > 0" >

                    <button  id="button_prev" style = "background-color:#834793;" (click)="showEpitopePrev();" [disabled]="hidePrevEpitopeButton">Prev&nbsp;
                    </button>&nbsp;

                    <button  id="button_next" style = "background-color:#834793;" (click)="showEpitopeNext();" [disabled]="hideNextEpitopeButton">Next&nbsp;
                    </button>

                  </div>

              </div>

            </div>

        </ng-template>
        <!-- structures tabset -->
        <ng-template #structuresTabset>

          <div class="row" style="float:right;">
            Sort:&nbsp;            <select [(ngModel)]="sortStructureChainTableColumn">
              <option *ngFor="let structureChainTableColumn of structureChainTableColumns"
                #sortStructureColumnSelect
                [value]="structureChainTableColumn"
                (change)='sortStructureChainTable()'
                >
              {{structureChainTableColumn}}
            </option>
          </select>
            Search:&nbsp;<input type="text" [(ngModel)]="searchString" [ngModelOptions]="{standalone: true}" (keyup) = "filterStructureDatatable()">
          </div>
          <div class="row" style="float:clear;">
            <br/>&nbsp;
          </div>
            <div class="row" style="float:clear;overflow: scroll;height:400px;">
                <div *ngIf="displayStructureChainObjList?.length > 0">
                    <table class="table table-bordered table-striped">
                      <thead>
                        <tr>

                          <td>
                              Select
                          </td>
                          <td>
                            <a href="#">
                              Taxon
                              <!-- <div class="arrow-up"></div>
                              <div class="arrow-down"></div> -->
                            </a>
                          </td>

                          <td>
                            <a href="#">
                              Taxon_ID
                              <!-- <div class="arrow-up"></div>
                              <div class="arrow-down"></div> -->
                            </a>
                          </td>

                          <td>
                            <a href="#">
                              PDB ID
                              <!-- <div class="arrow-up"></div>
                              <div class="arrow-down"></div> -->
                            </a>
                          </td>
                          <td>
                            <a href="#">
                              Chain
                              <!-- <div class="arrow-up"></div>
                              <div class="arrow-down"></div> -->
                            </a>
                          </td>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor ="let row of displayStructureChainObjList" style="line-height: 50px; height: 50px;">
                          <td>
                            <input type="checkbox" [checked] = "row.isSelected" [(ngModel)]="row.isSelected" [ngModelOptions]="{standalone: true}" value="{{row.pdb_id}}.{{row.chain}}" (change)="reloadStructures($event)">
                          </td>
                          <td>
                              {{row.taxon}}
                          </td>
                          <td>
                            {{row.taxon_id}}
                          </td>
                          <td>
                            {{row.pdb_id}}
                          </td>
                          <td>
                            {{row.chain}}
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <div class="btn-group" *ngIf="displayStructureChainObjList?.length > 0" >
                      <button  id="button_prev" style = "background-color:#834793;" (click)="showStructurePrev();" [disabled]="hidePrevStructureButton">Prev&nbsp;
                			</button>&nbsp;
                      <button  id="button_next" style = "background-color:#834793;" (click)="showStructureNext();" [disabled]="hideNextStructureButton">Next&nbsp;
                  		</button>
                    </div>
                </div>
              </div>
        </ng-template>

    </div>

</div>
