<router-outlet></router-outlet>

<div class="container">

  <table border=0 class="table paneltable" id="paneltable">

     <thead>
         <th></th>
         <th class="label-header">Accession</th>

         <!-- position nomenclature -->
         <th *ngFor="let nomenclaturePositionString of displayNomenclaturePositionStrings">
           <div class="nomen-outer residue-width"><div class="nomen-inner">{{nomenclaturePositionString}}</div></div>
         </th>
         <!-- <th><div class="nomen-outer residue-width"><div class="nomen-inner">1.000</div></div></th>
         <th><div class="nomen-outer residue-width"><div class="nomen-inner">2.000</div></div></th>
         <th><div class="nomen-outer residue-width"><div class="nomen-inner">3.000</div></div></th>
         <th><div class="nomen-outer residue-width"><div class="nomen-inner">4.000</div></div></th>
         <th><div class="nomen-outer residue-width"><div class="nomen-inner">5.000</div></div></th>
         <th><div class="nomen-outer residue-width"><div class="nomen-inner">6.000</div></div></th>
         <th><div class="nomen-outer residue-width"><div class="nomen-inner">7.000</div></div></th>
         <th><div class="nomen-outer residue-width"><div class="nomen-inner">7.001</div></div></th>
         <th><div class="nomen-outer residue-width"><div class="nomen-inner">7.002</div></div></th>
         <th><div class="nomen-outer residue-width"><div class="nomen-inner">7.003</div></div></th>
         <th><div class="nomen-outer residue-width"><div class="nomen-inner">8.000</div></div></th>
         <th><div class="nomen-outer residue-width"><div class="nomen-inner">9.000</div></div></th>
         <th><div class="nomen-outer residue-width"><div class="nomen-inner">10.000</div></div></th>
         <th><div class="nomen-outer residue-width"><div class="nomen-inner">10.001</div></div></th>
         <th><div class="nomen-outer residue-width"><div class="nomen-inner">11.000</div></div></th>
         <th><div class="nomen-outer residue-width"><div class="nomen-inner">1121.000</div></div></th> -->
         <!-- end position nomenclature -->
         <th class="sort-header">
             <select>
                 <option selected>Label</option>
                 <option>Host</option>
                 <option>Country</option>
                 <option>Accession</option>
             </select>
         </th>
         <th></th>
     </thead>
     <!-- SEQUENCES ------------------------------------------------------------>
     <tbody>
     <!-- SEQUENCE 1 --->
     <tr *ngFor="let displayAlignmentObj of displayAlignmentObjList; let idx = index">
         <td rowspan=3 *ngIf="idx == 0"><div class="paneltab-outer"><div class="paneltab-inner">Protein</div></div></td>
         <!-- sequence label -->
         <td><div class="residue-height label">{{displayAlignmentObj.label}}</div></td>
         <!-- residues -->
         <td *ngFor="let residueObj of displayAlignmentObj.displayResidueObjList"><div class="residue-width residue-height residue" [style.background-color] = "residueObj.residueColor">{{residueObj.residueValue}}</div></td>
         <!-- sort value -->
         <td><div class="residue-height label">Sort Value</div></td>
         <td rowspan=3 *ngIf="idx == 0">scroll</td>
     </tr>
     </tbody>
     <!-- END SEQUENCES -------------------------------------------------------->
     <!-- BEGIN EPITOPES ------------------------------------------------------->
     <tbody id="epitopepanel">
     <tr>
         <th></th>
         <th class="label-header">
             <select>
                 <option selected>Label</option>
                 <option>Host</option>
                 <option>Country</option>
                 <option>Accession</option>
             </select>
         </th>
         <!-- position nomenclature -->
         <th colspan="16">
             <button onclick="moveup('epitopepanel')">Up</button>
             <button onclick="movedown('epitopepanel')">Dn</button>
         </th>
         <th class="sort-header">
             <select>
                 <option selected>Label</option>
                 <option>Host</option>
                 <option>Country</option>
                 <option>Accession</option>
             </select>
         </th>
         <th></th>
     </tr>
     <!-- EPITOPE 1 --->
     <tr>
         <td rowspan="3"><div class="paneltab-outer"><div class="paneltab-inner">Epitopes</div></div></td>
         <!-- epitope label -->
         <td><div class="residue-height label">Ep 1</div></td>
         <!-- residues -->
         <td><div class="residue-width residue-height residue">A</div></td>
         <td><div class="residue-width residue-height residue">B</div></td>
         <td><div class="residue-width residue-height residue">C</div></td>
         <td><div class="residue-width residue-height residue">D</div></td>
         <td><div class="residue-width residue-height residue">E</div></td>
         <td><div class="residue-width residue-height residue">F</div></td>
         <td><div class="residue-width residue-height residue">G</div></td>
         <td><div class="residue-width residue-height residue">-</div></td>
         <td><div class="residue-width residue-height residue">-</div></td>
         <td><div class="residue-width residue-height residue">-</div></td>
         <td><div class="residue-width residue-height residue">H</div></td>
         <td><div class="residue-width residue-height residue">I</div></td>
         <td><div class="residue-width residue-height residue">J</div></td>
         <td><div class="residue-width residue-height residue">-</div></td>
         <td><div class="residue-width residue-height residue">K</div></td>
         <td><div class="residue-width residue-height residue">L</div></td>
         <!-- sort value -->
         <td><div class="residue-height label">Sort Value</div></td>
         <td rowspan=3>scroll</td>
     </tr>
     <!-- EPITOPE 2 --->
     <tr>
         <!-- epitope label -->
         <td><div class="residue-height label">Ep 2</div></td>
         <!-- residues -->
         <td><div class="residue-width residue-height residue">A</div></td>
         <td><div class="residue-width residue-height residue">B</div></td>
         <td><div class="residue-width residue-height residue">C</div></td>
         <td><div class="residue-width residue-height residue">D</div></td>
         <td><div class="residue-width residue-height residue">E</div></td>
         <td><div class="residue-width residue-height residue">F</div></td>
         <td><div class="residue-width residue-height residue">G</div></td>
         <td><div class="residue-width residue-height residue">-</div></td>
         <td><div class="residue-width residue-height residue">-</div></td>
         <td><div class="residue-width residue-height residue">-</div></td>
         <td><div class="residue-width residue-height residue">H</div></td>
         <td><div class="residue-width residue-height residue">I</div></td>
         <td><div class="residue-width residue-height residue">J</div></td>
         <td><div class="residue-width residue-height residue">-</div></td>
         <td><div class="residue-width residue-height residue">K</div></td>
         <td><div class="residue-width residue-height residue">L</div></td>
         <!-- sort value -->
         <td><div class="residue-height label">Sort Value</div></td>
     </tr>
     <!-- EPITOPE 3 --->
     <tr>
         <!-- epitope label -->
         <td><div class="residue-height label">Ep 3</div></td>
         <!-- residues -->
         <td><div class="residue-width residue-height residue">A</div></td>
         <td><div class="residue-width residue-height residue">B</div></td>
         <td><div class="residue-width residue-height residue">C</div></td>
         <td><div class="residue-width residue-height residue">D</div></td>
         <td><div class="residue-width residue-height residue">E</div></td>
         <td><div class="residue-width residue-height residue">F</div></td>
         <td><div class="residue-width residue-height residue">G</div></td>
         <td><div class="residue-width residue-height residue">-</div></td>
         <td><div class="residue-width residue-height residue">-</div></td>
         <td><div class="residue-width residue-height residue">-</div></td>
         <td><div class="residue-width residue-height residue">H</div></td>
         <td><div class="residue-width residue-height residue">I</div></td>
         <td><div class="residue-width residue-height residue">J</div></td>
         <td><div class="residue-width residue-height residue">-</div></td>
         <td><div class="residue-width residue-height residue">K</div></td>
         <td><div class="residue-width residue-height residue">L</div></td>
         <!-- sort value -->
         <td><div class="residue-height label">Sort Value</div></td>
     </tr>
     </tbody>
     <!-- END EPITOPES --------------------------------------------------------->
     <!-- BEGIN STRUCTURE ------------------------------------------------------>
     <tbody id="structurepanel">
     <tr>
         <th></th>
         <th class="label-header">PDB ID</th>
         <!-- position nomenclature -->
         <th colspan=16>
             <button onclick="moveup('structurepanel')">Up</button>
             <button onclick="movedown('structurepanel')">Dn</button>
         </th>
         <th class="sort-header">
             <select>
                 <option selected>Label</option>
                 <option>Host</option>
                 <option>Country</option>
                 <option>Accession</option>
             </select>
         </th>
         <th></th>
     </tr>
     <!-- STRUCTURE 1 --->
     <tr>
         <td rowspan=3><div class="paneltab-outer"><div class="paneltab-inner">Structure</div></div></td>
         <!-- structure label -->
         <td><div class="residue-height label">5JX9</div></td>
         <!-- residues -->
         <td><div class="residue-width residue-height residue">A</div></td>
         <td><div class="residue-width residue-height residue">B</div></td>
         <td><div class="residue-width residue-height residue">C</div></td>
         <td><div class="residue-width residue-height residue">D</div></td>
         <td><div class="residue-width residue-height residue">E</div></td>
         <td><div class="residue-width residue-height residue">F</div></td>
         <td><div class="residue-width residue-height residue">G</div></td>
         <td><div class="residue-width residue-height residue">-</div></td>
         <td><div class="residue-width residue-height residue">-</div></td>
         <td><div class="residue-width residue-height residue">-</div></td>
         <td><div class="residue-width residue-height residue">H</div></td>
         <td><div class="residue-width residue-height residue">I</div></td>
         <td><div class="residue-width residue-height residue">J</div></td>
         <td><div class="residue-width residue-height residue">-</div></td>
         <td><div class="residue-width residue-height residue">K</div></td>
         <td><div class="residue-width residue-height residue">L</div></td>
         <!-- sort value -->
         <td><div class="residue-height label">Sort Value</div></td>
         <td rowspan=3>scroll</td>
     </tr>
     <!-- STRUCTURE 2 --->
     <tr>
         <!-- structure label -->
         <td><div class="residue-height label">63CQ</div></td>
         <!-- residues -->
         <td><div class="residue-width residue-height residue">A</div></td>
         <td><div class="residue-width residue-height residue">B</div></td>
         <td><div class="residue-width residue-height residue">C</div></td>
         <td><div class="residue-width residue-height residue">D</div></td>
         <td><div class="residue-width residue-height residue">E</div></td>
         <td><div class="residue-width residue-height residue">F</div></td>
         <td><div class="residue-width residue-height residue">G</div></td>
         <td><div class="residue-width residue-height residue">-</div></td>
         <td><div class="residue-width residue-height residue">-</div></td>
         <td><div class="residue-width residue-height residue">-</div></td>
         <td><div class="residue-width residue-height residue">H</div></td>
         <td><div class="residue-width residue-height residue">I</div></td>
         <td><div class="residue-width residue-height residue">J</div></td>
         <td><div class="residue-width residue-height residue">-</div></td>
         <td><div class="residue-width residue-height residue">K</div></td>
         <td><div class="residue-width residue-height residue">L</div></td>
         <!-- sort value -->
         <td><div class="residue-height label">Sort Value</div></td>
     </tr>
     <!-- STRUCTURE 3 --->
     <tr>
         <!-- structure label -->
         <td><div class="residue-height label">6K9L</div></td>
         <!-- residues -->
         <td><div class="residue-width residue-height residue">A</div></td>
         <td><div class="residue-width residue-height residue">B</div></td>
         <td><div class="residue-width residue-height residue">C</div></td>
         <td><div class="residue-width residue-height residue">D</div></td>
         <td><div class="residue-width residue-height residue">E</div></td>
         <td><div class="residue-width residue-height residue">F</div></td>
         <td><div class="residue-width residue-height residue">G</div></td>
         <td><div class="residue-width residue-height residue">-</div></td>
         <td><div class="residue-width residue-height residue">-</div></td>
         <td><div class="residue-width residue-height residue">-</div></td>
         <td><div class="residue-width residue-height residue">H</div></td>
         <td><div class="residue-width residue-height residue">I</div></td>
         <td><div class="residue-width residue-height residue">J</div></td>
         <td><div class="residue-width residue-height residue">-</div></td>
         <td><div class="residue-width residue-height residue">K</div></td>
         <td><div class="residue-width residue-height residue">L</div></td>
         <!-- sort value -->
         <td><div class="residue-height label">Sort Value</div></td>
     </tr>
     </tbody>
     <!-- END STRUCTURE -------------------------------------------------------->
     <!-- BEGIN SCROLLBAR ------------------------------------------------------>
     <tfoot>
         <td></td>
         <td></td>
         <td colspan=16>
           <div *ngIf="displayAlignmentObjList">
               Begin position:&nbsp;
               <!-- <i *ngIf="originalScanEnabled" class="fa fa-question-circle" aria-hidden="true" (click)="openModal('helpRoiOverlaySlider')"></i> -->
               <div class="slidecontainer" style="float:left;">
                 <input type="range" min="0" [max]="maxSliderValue" value="{{positionSliderValue}}" class="slider" id="positionSlider" (input)="setSliderValue();">
                 <div>Slider Value: {{positionSliderValue}}</div>
               </div>&nbsp;
                   <!-- <div class="row" style="float:clear;">
                     <br/>
                     <ng5-slider [(value)]="rowNum" [options]="rangeSliderOptions" (valueChange)="sliderValueChange($event)"> </ng5-slider>
                     <br/>
                   </div> -->
           </div>

              <!-- <ng5-slider [(value)]="rowNum" [options]="rangeSliderOptions" (valueChange)="sliderValueChange($event)"> </ng5-slider> -->

         </td>
         <td></td>
         <td></td>
     </tfoot>
     <!-- END SCROLLBAR -------------------------------------------------------->
  </table>
  <!----------------------------------------------------------------------------->
  <!----------------------------------------------------------------------------->
  <!----------------------------------------------------------------------------->
  <!----------------------------------------------------------------------------->
  <!----------------------------------------------------------------------------->
  <!----------------------------------------------------------------------------->
  <div class="btn-grp">
    <button onclick="javascript:document.getElementById('epitopepanel').style.display='table-row-group'">Show Epitope</button>
    <button onclick="javascript:document.getElementById('epitopepanel').style.display='none'">Hide Epitope</button>
    <br>
    <button onclick="javascript:document.getElementById('structurepanel').style.display='table-row-group'">Show Structure</button>
    <button onclick="javascript:document.getElementById('structurepanel').style.display='none'">Hide Structure</button>
  </div>

  <div *ngIf="displayAlignmentObjList" class="row" style="float:clear;">

		<div  class="btn-group" style="margin-left:10px;">
			<button  id="button_0" style = "background-color:#834793;" (click)="showHideFilters();" *ngIf="showFiltersFlag">Hide Filters&nbsp;<i class="fa fa-angle-double-up" aria-hidden="true"></i>
				</button>&nbsp;
			<button  id="button_0" style = "background-color:#834793;" (click)="showHideFilters();" *ngIf="!showFiltersFlag">Show Filters&nbsp;<i class="fa fa-angle-double-down" aria-hidden="true"></i>
			</button>&nbsp;
		</div>
		<div id="spacerDiv" *ngIf="showFiltersFlag" class= "row" style="float:clear;">

    	<br/>
		</div>
  </div>
		<div id="paramsDiv" *ngIf="showFiltersFlag" style="border: 2px dashed;padding:20px;">
      Filters
      <ngb-tabset type="pills" [activeId]="activeTabTitle">

      <ngb-tab title="Sequences" id="sequencesId" name="sequencesDiv">

        <ng-template ngbTabContent>
          <ng-container *ngTemplateOutlet="sequencesTabset"></ng-container>
        </ng-template>

      </ngb-tab>

      <ngb-tab title="Epitopes" id="epitopesId" name="epitopesDiv">

        <ng-template ngbTabContent>
          <ng-container *ngTemplateOutlet="epitopesTabset"></ng-container>
        </ng-template>

      </ngb-tab>

    </ngb-tabset>

    <!-- mri qc tabset -->
    <ng-template #sequencesTabset>

      <!-- <ngb-tabset type="pills" [activeId]="activeTabTitle">

        <ngb-tab *ngFor = "let sequenceHostObj of sequenceHostObjList; let selectedIndex = index" [attr.data-index]="selectedStatsImageIndex" (click) = "setSelectedStatsImage(selectedStatsImageIndex)"
                  title="{{statsImageObj.name}}" >

          <ng-template ngbTabContent>
 -->
          <div class="row" style="float:right;">
            Sort:&nbsp;<input type="text" [(ngModel)]="searchString" [ngModelOptions]="{standalone: true}" (keyup) = "filterDatatable()"> &nbsp;
            Search:&nbsp;<input type="text" [(ngModel)]="searchString" [ngModelOptions]="{standalone: true}" (keyup) = "filterDatatable()">
          </div>
          <div class="row" style="float:clear;">
            <br/>&nbsp;
          </div>
            <div class="row" style="float:clear;overflow: scroll;height:400px;">

                <div *ngIf="displaySequenceObjList?.length > 0">


                    <table class="table table-bordered table-striped">

                      <thead>
                        <tr>

                          <td>
                              Select
                          </td>

                          <td>
                            <a href="#">
                              Accession
                              <!-- <div class="arrow-up"></div>
                              <div class="arrow-down"></div> -->
                            </a>
                          </td>

                          <td>
                            <a href="#">
                              Organism
                              <!-- <div class="arrow-up"></div>
                              <div class="arrow-down"></div> -->
                            </a>
                          </td>

                          <td>
                            <a href="#">
                              Collection Date
                              <!-- <div class="arrow-up"></div>
                              <div class="arrow-down"></div> -->
                            </a>
                          </td>
                          <td>
                            <a href="#">
                              Isolation Source
                              <!-- <div class="arrow-up"></div>
                              <div class="arrow-down"></div> -->
                            </a>
                          </td>
                          <td>
                            <a href="#">
                              Coded By
                              <!-- <div class="arrow-up"></div>
                              <div class="arrow-down"></div> -->
                            </a>
                          </td>
                          <td>
                            <a href="#">
                              Protein ID
                              <!-- <div class="arrow-up"></div>
                              <div class="arrow-down"></div> -->
                            </a>
                          </td>
                          <td>
                            <a href="#">
                              Taxon ID
                              <!-- <div class="arrow-up"></div>
                              <div class="arrow-down"></div> -->
                            </a>
                          </td>
                        </tr>
                      </thead>

                      <tbody>
                        <tr *ngFor ="let row of displaySequenceObjList">
                          <td>
                            <input type="checkbox" [checked] = "row.isSelected" [(ngModel)]="row.isSelected" [ngModelOptions]="{standalone: true}" value="{{row.accession}}" (change)="reloadSequences($event)">
                          </td>
                          <td>
                              {{row.accession}}
                          </td>

                          <td>
                            {{row.organism}}
                          </td>

                          <td>
                            {{row.collection_date}}
                          </td>

                          <td>
                            {{row.isolate}}
                          </td>

                          <td>
                            {{row.coded_by}}
                          </td>
                          <td>
                            {{row.protein_id}}
                          </td>
                          <td>
                            {{row.taxon_id}}
                          </td>
                        </tr>
                      </tbody>

                    </table>

                    <div class="btn-group" *ngIf="displaySequenceObjList?.length > 0" >

                      <button  id="button_prev" style = "background-color:#834793;" (click)="showPrev();" [disabled]="hidePrevButton">Prev&nbsp;
                			</button>&nbsp;

                      <button  id="button_next" style = "background-color:#834793;" (click)="showNext();" [disabled]="hideNextButton">Next&nbsp;
                  		</button>

                    </div>

                </div>

              </div>

           <!-- </ng-template>

        </ngb-tab>

      </ngb-tabset> -->

    </ng-template>

    <ng-template #sequenceTabset>
    </ng-template>

    </div>

</div>
