:host ::ng-deep .data-table-row {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.list ul li  {
  display: inline-block;
  margin-left: 0px;
  margin-right:8%;
  margin-top: 10px;
  margin-bottom:10px;
}
#horizontal-0 {
  width:1px;height:100%;position:absolute;background-color:red;
}
#vertical-1 {
  width:100%;height:1px;position:absolute;background-color:red;
}
#horizontal-2 {
  width:1px;height:100%;position:absolute;background-color:red;
}
#vertical-0 {
  width:100%;height:1px;position:absolute;background-color:red;
}
#horizontal-1 {
  width:1px;height:100%;position:absolute;background-color:red;
}
#vertical-2 {
  width:100%;height:1px;position:absolute;background-color:red;
}
.btn-group button {
  background-color: #4CAF50; /* Green background */
  border: 1px solid green; /* Green border */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #3e8e41;
}
.slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 10px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 10px; /* Set a specific slider handle width */
  height: 10px; /* Slider handle height */
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 10px; /* Set a specific slider handle width */
  height: 10px; /* Slider handle height */
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}
/* The slider itself */
.verticalslider {
  // -webkit-appearance: none;  /* Override default CSS styles */
  -webkit-appearance: slider-vertical;
  appearance: none;
  width: 10px; /* Full-width */
  height: 100%; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.verticalslider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.verticalslider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 10px; /* Set a specific slider handle width */
  height: 10px; /* Slider handle height */
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.verticalslider::-moz-range-thumb {
  width: 10px; /* Set a specific slider handle width */
  height: 10px; /* Slider handle height */
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.titles {
    position: absolute;
    display: table;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: 100%;
    opacity:0;
    -webkit-transition: opacity .5s ease;
    -moz-transition: opacity .25s ease;
    background: rgba(0, 0, 0, 0.5);
    color: #FFFFFF;
    text-decoration: none;
    z-index: 999;
}

.titles p {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
}

.griditem:hover .titles {
    text-decoration: none;
    opacity:1;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid black;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;

  border-top: 5px solid black;
}



/* Nic's design for front end'*/

#paneltable div {
   font-family: arial, helvetica;
   font-size: 11px;
}
.paneltable {
   display: table;
   border-collapse: collapse;
   border-spacing: 0px;
   overflow: hidden;
   border: 1px solid transparent; /* for consistent spacing w/wo border */
}
.residue-width { width: 10px; text-align: center; }
.residue-height { height: 14px; line-height: 14px; }
.label {
   display: table-cell;
   vertical-align: middle;
}
.residue {
   text-align: center;
   display: inline-block;
   padding: 0px;
   margin: 0px;
   /* border: 1px solid rgba(0,0,0,0.1); */
   /* background: #ffffff; */
}
.nomen-outer {
   border: 1px solid rgba(0,0,0,0);
   position: relative;
   float: left;
   display: inline-block;
   margin: 0px;
   height: 80px;
   overflow: hidden;
}
.nomen-inner {
   position: absolute;
   top: 100%;
   left: 50%;
   margin: 0px;
   padding: 0px;
   transform-origin: center left;
   transform: translateY(-50%) rotate(-90deg);
}
.paneltab-outer {
   width: 40px;
   border: 1px solid rgba(0,0,0,0);
   position: relative;
   float: left;
   display: inline-block;
   margin: 0px;
   /* height: 50px; */
   overflow: hidden;
}
.paneltab-inner {
   position: absolute;
   top: 50%;
   left: 50%;
   margin: 0px;
   padding: 0px;
   transform-origin: center center;
   transform: translateX(-50%) translateY(-50%) rotate(-90deg);
   font-size: 125%;
}

.label-header {
   width: 120px;
   vertical-align: bottom;
   /* padding-top: 30px; */
   text-align: center;
}
.sort-header {
   width: 120px;
   vertical-align: bottom;
}
tbody td {
   border: 1px solid #999999;
   padding: 0px;
}
table {
   overflow: hidden;
   text-align: center;
}
thead {
   vertical-align: bottom;
}
th {
   vertical-align: bottom;
}
td, th {
   position: relative;
   padding: none;
}
tfoot {
   background: #ffffff;
}
table tbody tr:first-child th {
   /* background: #555555; */
   /* border-top: 1px solid rgba(1,1,1,0.1); */
   padding-top: 10px;
   position: relative;
}
table tbody tr:last-child td {
   /* padding-bottom: 10px; */
   position: relative;
}
thead th:nth-child(n+3):not(:nth-child(n+19)):hover::after,
tbody td:first-child[rowspan]~td:nth-child(n+3):not(:nth-child(n+19)):hover::after,
tbody td:first-child:not([rowspan])~td:nth-child(n+2):not(:nth-child(n+18)):hover::after
{
   content: '';
   height: 10000px;
   left: 0;
   position: absolute;
   top: -5000px;
   width: 100%;
   z-index: -1;
   background-color: #eeeeff;
}
.hide-tr {
   display: none;
}
